
import React, {Component} from 'react';
import Panel from 'react-bootstrap/lib/Panel'
import Button from 'react-bootstrap/lib/Button'
import CustomerDetails from './CustomerDetails'
import axios from 'axios'

 export default class Customers extends Component {

   constructor(props) {
    super(props)
    this.state = {
      selectedCustomer: 1
    }
  }

   //function which is called the first time the component loads
  componentDidMount() {
    this.getCustomerData();
  }

   //Function to get the Customer Data from json
  getCustomerData() {
    axios.get('assets/samplejson/customerlist.json').then(response => {
      this.setState({customerList: response})
    })
  };

  .App {
    text-align: center;
  }
  
   .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
   .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
   .App-title {
    font-size: 1.5em;
  }
  
   .App-intro {
    font-size: large;
  }
  
   @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
    29  src/App.js 
 }